.banner {
    background-color: #f8d49d;
    width: 100%;
    padding: 2em 0;
}

.row {
    align-items: center;
}

h1 {
    text-shadow: 1px 1px 2px #7c7c7c;
}

.btn {
    padding: 0.5em 1.5em;
    border-radius: 2em;
    box-shadow: 5px 5px 5px rgba(105, 73, 73, 0.15);
}

@media screen and (max-width: 567px) {
    .banner {
        text-align: center;
    }
}